@{
    ViewData["Title"] = "Главная";
}

<div class="container mt-5">
    <div class="text-center">
        <h1 class="display-4">🎓 Тренажёр сотрудника</h1>
        <p class="lead">Осваивайте рабочие процессы, проверяйте знания и практикуйтесь</p>
    </div>

    <div class="row mt-5">
        <div class="col-md-4">
            <div class="card text-center">
                <div class="card-body">
                    <h5 class="card-title">📖 Справочник</h5>
                    <p class="card-text">Вся необходимая информация по работе и общению с клиентами</p>
                    <a href="/Handbook" class="btn btn-primary">Открыть</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card text-center">
                <div class="card-body">
                    <h5 class="card-title">📝 Тесты</h5>
                    <p class="card-text">Проверьте свои знания правил и процедур</p>
                    <a href="/Test" class="btn btn-primary">Пройти тест</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card text-center">
                <div class="card-body">
                    <h5 class="card-title">🔧 Тренажёр</h5>
                    <p class="card-text">Потренируйтесь находить ошибки и заполнять документы</p>
                    <a href="/Simulator" class="btn btn-primary">Тренироваться</a>
                </div>
            </div>
        </div>
    </div>
</div>